<a href="https://colab.research.google.com/github/kaihcodes/data_analysis_in_python_1/blob/main/superstore_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#import data
df = pd.read_excel('https://public.tableau.com/app/sample-data/sample_-_superstore.xls',sheet_name = 'Orders')
df.info()
#no na in the dataset, every column returns 9994 records; 21 columns in total
df.head(10)
#df.sample(10)
df4 = df.copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [2]:
#check for duplicate
df[df.duplicated(keep='first')]
df.duplicated(keep='first').unique()
#no duplicate found, 9994 records, faily clean so far. now I want to understand this data a bit more
df.describe()
#there are some drastic profit numbers that seem like outliers, investigate
df[df.Profit > 3000]
df[df.Profit < -1000]
#doesn't seem like outlier, but the ones with big losses look like they have big discount applied, office supplies and technology are 2 categories with big losses and wins
df[['Country','Segment']].drop_duplicates()
pd.unique(df[['Country','Ship Mode','Segment','Region','Category']].values.ravel('F'))
df.groupby(['Country','Region']).size()
df.groupby(['Country','Region'])['Sales'].sum() #west has the highest sales
df.groupby(['Country','Region'])[['Sales','Profit']].sum()
df1 = df.groupby(['Country','Region'])[['Sales','Profit']].sum()
df1['Profit%'] = df1['Profit']/df1['Sales']
df1 #west not only has the highest sales but also the highest margin
#df1.plot(kind='barh')
df.groupby(['Country','Segment'])['Sales'].sum() #output is float, unreadable, convert to integer
df.groupby(['Country','Segment'])['Sales'].sum().astype(int) #consumer segment has the highest sales
df.groupby(['Category'])[['Sales','Profit']].sum()

df2 = df.groupby(['Category'])[['Sales','Profit']].sum()
df2['Profit%'] = df2['Profit']/df2['Sales']
df2 #in terms of category, technology has the highest sales, similar profit% as office supplies, furniture on the other hand has terrible margin, maybe bc of heavy discount? investigate
df.groupby('Category')['Discount'].agg(['mean','count','median','max','min']) #doesn't seem like it, maybe it's pricing or cost problem
df3 = df
df3.loc[df3['Discount']>0,'Disc'] = 'Yes'
df3.loc[df3['Discount']==0, 'Disc'] = 'No'
df3['Profit%'] = df3.Profit/df3.Sales
df3
df3.groupby(['Category','Disc']).size()
df3.groupby(['Category','Disc'])['Profit%'].agg(['size','mean'])
#look at furniture discount sales, discounted more frequently with negative margin
#now, want to look at data in a deeper dimension, invoke pivot table
df.pivot_table(values='Sales',index=['Segment','Category'],columns='Region',aggfunc='sum')

Region                          Central        East       South         West
Segment     Category
Consumer    Furniture        86229.2190  114211.802  70800.2040  119808.0870
            Office Supplies  93111.4790  101255.136  59504.5810  110080.9400
            Technology       72690.7360  135441.229  65276.1860  132991.7460
Corporate   Furniture        52085.6018   64209.046  29645.0315   83080.1065
            Office Supplies  41137.7010   66474.735  45930.1700   77133.8560
            Technology       64772.5100   69725.566  46310.7310   65641.3120
Home Office Furniture        25482.3430   29870.356  16853.4485   49724.5500
            Office Supplies  32777.2350   37786.184  20216.5620   33638.4530
            Technology       32953.0660   59807.186  37184.9910   53358.7740

In [4]:
#add year, month columns, profit%
import numpy as np
sorted(df['Order Date'].dt.year.unique())

df4['Year'] = df4['Order Date'].dt.year
df4['Month'] = df4['Order Date'].dt.month
df4.sample(10)
df4['Profit%'] = df4['Profit']/df4['Sales']
df4.sample(10)
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
 21  Year           9994 non-null   int32
 22  Month          9994 non-null   int32
 23  Profit%        9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), int32(2), int64(3), object(13)
memory usage: 1.8+ MB